.checkoutContainer {
    max-width: 600px;
    margin: 0 auto;

    padding: 1.6rem;

    h2 {
        font-size: 2.4rem;
        font-weight: 500;
        color: #3e4462;
    }

    .checkoutItems {
        padding: 0 1.6rem 1.6rem;
    }
}
